PracXFinal/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64695/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64695/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64695/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TeamweDev_GP_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_register_InputMessage">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="IService1_register_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:addProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_addProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:addProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:editProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_editProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:editProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_removeProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:removeProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_removeProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:getProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_getProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllProducts" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllProductsAlphabetically_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllProductsAlphabetically" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllProductsAlphabetically_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllProductsAlphabeticallyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllProductsByPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllProductsByPrice" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllProductsByPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllProductsByPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllProductsPriceFiltered_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllProductsPriceFiltered" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllProductsPriceFiltered_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllProductsPriceFilteredResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllProductsCategoryFiltered_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllProductsCategoryFiltered" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllProductsCategoryFiltered_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllProductsCategoryFilteredResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllDiscountedProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllDiscountedProducts" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllDiscountedProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllDiscountedProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/register" message="tns:IService1_register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerResponse" message="tns:IService1_register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addProduct" message="tns:IService1_addProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addProductResponse" message="tns:IService1_addProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editProduct" message="tns:IService1_editProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editProductResponse" message="tns:IService1_editProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/removeProduct" message="tns:IService1_removeProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/removeProductResponse" message="tns:IService1_removeProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getProduct" message="tns:IService1_getProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getProductResponse" message="tns:IService1_getProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllProducts" message="tns:IService1_getAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllProductsResponse" message="tns:IService1_getAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllProductsAlphabetically">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllProductsAlphabetically" message="tns:IService1_getAllProductsAlphabetically_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllProductsAlphabeticallyResponse" message="tns:IService1_getAllProductsAlphabetically_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllProductsByPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllProductsByPrice" message="tns:IService1_getAllProductsByPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllProductsByPriceResponse" message="tns:IService1_getAllProductsByPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllProductsPriceFiltered">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllProductsPriceFiltered" message="tns:IService1_getAllProductsPriceFiltered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllProductsPriceFilteredResponse" message="tns:IService1_getAllProductsPriceFiltered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllProductsCategoryFiltered">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllProductsCategoryFiltered" message="tns:IService1_getAllProductsCategoryFiltered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllProductsCategoryFilteredResponse" message="tns:IService1_getAllProductsCategoryFiltered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllDiscountedProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllDiscountedProducts" message="tns:IService1_getAllDiscountedProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllDiscountedProductsResponse" message="tns:IService1_getAllDiscountedProducts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="http://tempuri.org/IService1/register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/addProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/editProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/removeProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/getProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProducts">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProductsAlphabetically">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllProductsAlphabetically" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProductsByPrice">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllProductsByPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProductsPriceFiltered">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllProductsPriceFiltered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProductsCategoryFiltered">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllProductsCategoryFiltered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDiscountedProducts">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllDiscountedProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:64695/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>