PracXFinal/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TeamweDev_GP_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TeamweDev_GP_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PrCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrOldPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="PrRating" type="xs:int" />
      <xs:element minOccurs="0" name="PrStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
</xs:schema>